* {
    font-size: 8pt;
    font-family: Ubuntu;
}

window#waybar {
    background-color: #101010;
    color: #ffffff;
}

#workspaces {
    padding: 0px 0px;
}

#workspaces button {
    margin: 0px 0px 4px 0px;
    padding: 4px 0px 0px 0px;
    min-width: 24px;
    background-color: #101010;
    border-radius: 0 0 4px 4px;
    border-top: 0px solid transparent;
    box-shadow: 0 0px #ffffff inset;
    color: #ffffff;
    font-weight: normal;
    transition-property: background-color, border-top-color, box-shadow;
    transition-duration: 0.4s;
}

#workspaces button.focused, #workspaces button.active {
    box-shadow: 0 4px #0da9c8 inset;
    font-weight: bold;
    background-color: #04323f;
}

#workspaces button.urgent {
    box-shadow: 0 4px #ff9090 inset;
}

#workspaces button:hover {
    box-shadow: 0 4px #ffffff inset;
}


#clock,
#pulseaudio,
#cpu,
#memory,
#disk,
#battery,
#backlight {
    margin: 4px 0px;
    padding: 4px 4px 4px 24px;
    background-color: #101010;
    border-radius: 4px;
    transition-property: background-color, color;
    transition-duration: 0.4s;
    background-repeat: no-repeat;
    background-position: 6px 50%;
    background-size: 12px 12px;
}

#clock {
    padding: 4px;
    font-weight: bold;
}

#pulseaudio {
    background-image: url("icons/speaker.png");
}

#pulseaudio.muted {
    background-image: url("icons/speaker-mute.png");
    color: #646464;
}

#backlight {
    background-image: url("icons/light.png");
}

#cpu {
    background-image: url("icons/cpu.png");
}

#memory {
    background-image: url("icons/memory.png");
}

#disk {
    background-image: url("icons/disk.png");
}

#battery {
    background-image: url("icons/battery-4.png");
    background-size: 18px 12px;
    padding-left: 30px; 
}

#battery.b-4 {
    background-image: url("icons/battery-4.png");
}

#battery.b-3 {
    background-image: url("icons/battery-3.png");
}

#battery.b-2 {
    background-image: url("icons/battery-2.png");
}

#battery.b-1 {
    background-image: url("icons/battery-1.png");
}

#battery.b-0 {
    background-image: url("icons/battery-0.png");
}

#battery.charging.b-4 {
    background-image: url("icons/battery-charge-4.png");
}

#battery.charging.b-3 {
    background-image: url("icons/battery-charge-3.png");
}

#battery.charging.b-2 {
    background-image: url("icons/battery-charge-2.png");
}

#battery.charging.b-1 {
    background-image: url("icons/battery-charge-1.png");
}

#battery.charging.b-0 {
    background-image: url("icons/battery-charge-0.png");
}

#custom-launcher,
#custom-power {
    min-width: 24px;
    margin: 4px 0px;
    font-size: 12pt;
    background-color: #202020;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 12px 12px;
}

#custom-launcher {
    margin-left: 4px;
    background-image: url("icons/nix-snowflake.png");
    background-size: 16px 16px;
}

#custom-power {
    margin-right: 4px;
    background-image: url("icons/power.png");
}

#custom-hyprland-apptitle {
    margin: 4px 0px;
    font-weight: bold;
}

#clock:hover {
    background-color: #202020;
}

#tray {
    margin: 4px 0px;
    padding: 4px 4px;
}
