$dark1: #080808;
$dark2: #101010;
$dark3: #202020;
$dark4: #282828;

$light1: #646464;
$light2: #dfdfdf;
$light3: #ffffff;

$accent1: #04323f;
$accent2: #15424f;
$accent3: #0da9c8;

// $accent1: #5f2d2c;
// $accent2: #7e3837;
// $accent3: #e2535a;

$critical: #c82c0d;
